@mixin theme ($theme: ThemeOne) {
    @if ($theme ==ThemeOne) {
        background-color: $very-dark-desaturated-blue-bg;

        .header {
            color: $white;

            .theme-selector {
                .select-box {
                    .toggle-theme {
                        background-color: $very-dark-desaturated-blue-toggle;

                        &::after {
                            background-color: $red;
                        }
                    }
                }
            }
        }

        label[for=display] {
            input[type=text] {
                background-color: $very-dark-desaturated-blue-screen;
                color: $white;
            }
        }


        .keypad {
            background-color: $very-dark-desaturated-blue-toggle;

            .row {
                div {
                    color: $very-dark-grayish-blue;
                    background-color: $light-grayish-orange;
                    box-shadow: 0 3px 0 $grayish-orange;

                    &#reset,
                    &#del,
                    &#equal {
                        color: $light-grayish-orange;
                    }

                    &#reset,
                    &#del {
                        background-color: $desaturated-dark-blue-bg;
                        box-shadow: 0 3px 0 $desaturated-dark-blue-shadow;
                    }

                    &#equal {
                        background-color: $red;
                        box-shadow: 0 3px 0 $dark-red;
                    }

                }
            }
        }
    }

    @else if($theme ==ThemeTwo) {
        background-color: $light-gray;

        .header {
            color: $very-dark-grayish-yellow;

            .theme-selector {
                .select-box {
                    .toggle-theme {
                        background-color: $grayish-red;

                        &::after {
                            background-color: $orange;
                        }
                    }

                }
            }
        }

        label[for=display] {
            input[type=text] {
                background-color: $very-light-gray;
                color: $very-dark-grayish-yellow;
            }
        }


        .keypad {
            background-color: $grayish-red;

            .row {
                div {
                    color: $very-dark-grayish-yellow;
                    background-color: $light-grayish-yellow;
                    box-shadow: 0 3px 0 $dark-grayish-orange;

                    &#reset,
                    &#del,
                    &#equal {
                        color: $very-light-gray;
                    }

                    &#reset,
                    &#del {
                        background-color: $dark-moderate-cyan;
                        box-shadow: 0 3px 0 $very-dark-cyan;
                    }

                    &#equal {
                        background-color: $orange;
                        box-shadow: 0 3px 0 $dark-orange;
                    }

                }
            }
        }

    }

    @else if ($theme ==ThemeThree) {
        background-color: $very-dark-violet-bg;

        .header {
            color: $light-yellow;

            .theme-selector {
                .select-box {
                    .toggle-theme {
                        background-color: $very-dark-violet-toggle;

                        &::after {
                            background-color: $pure-cyan;
                        }
                    }

                }
            }
        }

        label[for=display] {
            input[type=text] {
                background-color: $very-dark-violet-toggle;
                color: $light-yellow;
            }
        }


        .keypad {
            background-color: $very-dark-violet-toggle;

            .row {
                div {
                    color: $light-yellow;
                    background-color: $very-dark-violet;
                    box-shadow: 0 3px 0 $dark-magenta;

                    &#reset,
                    &#del,
                    &#equal {
                        color: $very-light-gray;
                    }

                    &#reset,
                    &#del {
                        background-color: $dark-violet;
                        box-shadow: 0 3px 0 $vivid-magenta;
                    }

                    &#equal {
                        background-color: $pure-cyan;
                        box-shadow: 0 3px 0 $soft-cyan;
                        color: $very-dark-blue;
                    }

                }
            }
        }
    }
}