.keypad {
    width: 100%;
    height: 80%;
    background-color: var(--very-dark-desaturated-blue-toggle);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 15%;
        gap: 15px;

        div {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--very-dark-grayish-blue);
            background-color: var(--light-grayish-orange);
            font-size: 2em;
            text-transform: uppercase;
            border-radius: 10px;

            &#multiplier {
                text-transform: initial;
            }

            &#reset,
            &#equal {
                width: 50%;
            }
        }

    }
}