.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--white);

    h1 {
        font-size: 32px;
    }

    .theme-selector {
        height: 50px;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        span {
            margin-top: 30px;
            font-size: 15px;
            letter-spacing: 3px;
        }

        .select-box {
            position: relative;
            width: 90px;
            display: flex;
            justify-content: space-around;
            gap: 10px;
            height: 100%;

            span {
                margin-top: 0;
                font-size: initial;
                cursor: pointer;
            }

            label {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
            }

            input[type=radio] {
                visibility: hidden;
            }

            .toggle-theme {
                position: absolute;
                width: 100%;
                height: 30px;
                background-color: var(--very-dark-desaturated-blue-toggle);
                bottom: 0;
                left: 0;
                border-radius: 25px;
                cursor: pointer;
            }
        }

        .toggle-theme-1 {
            &::after {
                content: '';
                position: absolute;
                width: 22px;
                height: 22px;
                background-color: var(--red);
                left: 4px;
                bottom: 4px;
                border-radius: 100%;
            }
        }

        .toggle-theme-2 {
            &::after {
                content: '';
                position: absolute;
                width: 22px;
                height: 22px;
                background-color: aqua;
                left: calc(50% - 11px);
                bottom: 4px;
                border-radius: 100%;
            }
        }

        .toggle-theme-3 {
            &::after {
                content: '';
                position: absolute;
                width: 22px;
                height: 22px;
                background-color: aqua;
                right: 4px;
                bottom: 4px;
                border-radius: 100%;
            }
        }
    }
}